:root {
    --mobile-breakpoint: 768px;
    --dark-primary: #383838;
    --accent-light: #E5D7FF;
    --accent-primary: #A677FF;
    --background: #F5F5F5;
    --primary: #FFFFFF;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

#root {
    height: 100%;
}